button {
    width: 150px;
    height: 40px;
    border: none;
    color: white;
    font-size: 13px;
    line-height: 18px;
    background-color: $main-color;
    text-transform: uppercase;
    cursor: pointer;
}